<%= Gon::Base.render_data %>

<div class="period-form mt-5">
  <%= form_with scope: "index_chart_period" do |form| %>
    <div class="row">
      <div class="input-group-prepend col-3">
        <span class="input-group-text">始期年月</span>
        <%= form.date_select(:beginning, discard_day: true, use_month_numbers: true, start_year: Time.now.year - 2, end_year: Time.now.year, default: Date.today - 5.month) %>
      </div>
      <div class="input-group-prepend col-3">
        <span class="input-group-text">終期年月</span>
        <%= form.date_select(:end, discard_day: true, use_month_numbers: true, start_year: Time.now.year - 2, end_year: Time.now.year) %>
      </div>
      <input type="button" value="表示" id="index-chart-period-button" class="btn btn-primary col-1">
    </div>
  <% end %>
</div>

<canvas id="index-chart" class="mb-5"></canvas>


<p>今月の残業時間</p>

<table class="table table-hover" id="index-table">
  <thead>
    <tr>
      <th class="text-center">グループ名</th>
      <th class="text-center">氏名</th>
      <th class="text-center">現時点</th>
      <th class="text-center">月末（推計値）</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="text-center"><%= user.group %></td>
        <td class="text-center"><%= link_to user.name, user_path(user.id) %></td>
        <td class="text-right hour_now"><%= convert_to_hour(user.this_month_minute) %></td>
        <td class="text-right hour_at_the_end_of_month"><%= convert_to_hour(estimate_value_at_the_end_of_month(user.this_month_minute)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
